@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1110px;
}

.hero {
  width: 100%;
  height: 420px;
  @media (max-width: 991px) {
    height: 310px;
  }
  @media (max-width: 650px) {
    height: 200px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

h1 {
  text-align: center;
  margin-bottom: 100px;
  font-size: 58px;
  @media (max-width: 650px) {
    font-size: 46px;
  }
}
.about {
  background: #f7f7f7;
  padding: 100px 0;
  @media (max-width: 650px) {
    padding: 50px 0;
  }
}
.wrapper {
  display: flex;
  gap: 30px;
  margin-bottom: 80px;
  @media (max-width: 991px) {
    flex-wrap: wrap;
  }
  &.reverse {
    @media (max-width: 991px) {
      flex-direction: column-reverse;
    }
  }
  .img-wrapper {
    width: 100%;
    max-width: 445px;
    height: 445px;
    @media (max-width: 991px) {
      max-width: 100%;
    }
    @media (max-width: 650px) {
      height: 345px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }
  .content {
    max-width: 635px;
    @media (max-width: 991px) {
      max-width: 100%;
    }
    h2 {
      font-size: 36px;
      margin-bottom: 30px;
      @media (max-width: 991px) {
        text-align: center;
      }
    }
    p {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }
}
.slideshow {
  padding: 75px 0 100px;
  @media (max-width: 650px) {
    padding: 40px 0 75px;
  }
  h2 {
    text-align: center;
    margin-bottom: 75px;
    @media (max-width: 650px) {
      margin-bottom: 30px;
    }
  }
  .swiper {
    @media (max-width: 991px) {
      padding: 0 15px;
    }
  }
  .swiper-slide {
    .img-wrap {
      display: block;
      width: 100%;
      height: 435px;
      @media (max-width: 991px) {
        height: 335px;
      }
      @media (max-width: 768px) {
        height: 235px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
      }
    }
  }
  .swiper-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 220px;
    margin-top: 70px;
    @media (max-width: 650px) {
      gap: 50px;
      margin-top: 40px;
    }
  }
  .swiper-button {
    width: 60px;
    height: 43px;
    display: block;
    background: url("../images/arrow-right.svg") center/contain no-repeat;
    @media (max-width: 650px) {
      width: 40px;
      height: 23px;
    }
    &.swiper-prev {
      transform: rotate(180deg);
    }
  }
}
